<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>na</key>
	<dict>
		<key>carryu.co</key>
		<string>http://na.lol.red.zoyi.co/summoners/=%@</string>
		<key>lolking.net</key>
		<string>http://www.lolking.net/search?name=%@</string>
	</dict>
	<key>kr</key>
	<dict>
		<key>op.gg</key>
		<string>http://op.gg/summoner/userName=%@</string>
		<key>carryu.co</key>
		<string>http://kr.lol.red.zoyi.co/summoners/=%@</string>
		<key>iplol.kr</key>
		<string>http://iplol.kr/search.iplol?q=%@</string>
	</dict>
</dict>
</plist>
