<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kr</key>
	<dict>
		<key>rtmp_host</key>
		<string>http://kr.rtmp.carryu.co</string>
		<key>xmpp_host</key>
		<string>chat.kr.lol.riotgames.com</string>
		<key>xmpp_port</key>
		<integer>5223</integer>
		<key>rails_host</key>
		<string>http://kr.carryu.co</string>
		<key>api_version</key>
		<string>v1</string>
	</dict>
	<key>na</key>
	<dict>
		<key>rtmp_host</key>
		<string>http://na.rtmp.carryu.co</string>
		<key>xmpp_host</key>
		<string>chat.na1.lol.riotgames.com</string>
		<key>xmpp_port</key>
		<integer>5223</integer>
		<key>rails_host</key>
		<string>http://na.carryu.co</string>
		<key>api_version</key>
		<string>v1</string>
	</dict>
	<key>euw</key>
	<dict>
		<key>rtmp_host</key>
		<string>http://euw.rtmp.carryu.co</string>
		<key>xmpp_host</key>
		<string>chat.eu.lol.riotgames.com</string>
		<key>xmpp_port</key>
		<integer>5223</integer>
		<key>rails_host</key>
		<string>http://euw.carryu.co</string>
		<key>api_version</key>
		<string>v1</string>
	</dict>
</dict>
</plist>
